<div class="mx-5 my-3">
    <h1>📓 Registros</h1>
    <hr />
    <div class="row">
        <div class="col-3">
            <h3>Gestión registros</h3>
            <div class="list-group mb-1">
                {{#if auths.rc}}
                <button type="button" class="list-group-item list-group-item-action zoom" data-bs-toggle="modal" data-bs-target="#addRecord">
                    ➕ Añadir un fichaje</button>
                <!-- Modal -->
                <div class="modal fade" id="addRecord" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Añadir fichaje</h6><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group mb-1">
                                    <input class="list-group-item m-1" type="text" id="search" onkeyup="searchUser()" placeholder="Teclea nombre...">
                                </div>
                                {{!-- Lista de usuarios appia--}}
                                <div id="appiaUsers" class="list-group">
                                    <div id="spinner" class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
            <div id="usernames" class="list-group" id="listRecordsFunctions" role="tablist">
                {{!--Menu de funciones--}}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-home-list" data-bs-toggle="list" href="#tab1-now" role="tab">
                    <div>En este momento</div></a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-home-list" data-bs-toggle="list" href="#tab2-last" role="tab">
                    <div>Últimas tareas finalizadas</div></a>
            </div>
        </div>
        <div class="col">
            <h3>Informe</h3>
            <div class="tab-content" id="nav-tabContent">
                {{!-- tab1-now --}}
                <div class="tab-pane fade" id="tab1-now" role="tabpanel">
                    <table class="table table-hover table-bordered bg-light text-left">
                        <thead class="table-dark">
                            <tr>
                                <th class="col-3" scope="col"><input type="text" id="nowUserSearch" onkeyup="nowUserSearch()" placeholder="Empleado"></input></th>
                                <th class="col-6" scope="col">Tarea</th>
                                <th class="col-3" scope="col">Hora de inicio</th>
                            </tr>
                        </thead>
                        <tbody id="nowTable">
                            {{#each now}}
                            <tr>
                                <th scope="col">{{Nombre}}</th>
                                <td>{{#if last}}
                                        {{last.cliente}}, {{last.descripcionServicio}}
                                    {{else}}
                                        Inactivo
                                    {{/if}}
                                </td>
                                <td>{{#if last}}
                                        {{last.horaInicio}}
                                    {{else}}
                                        --
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <div>
                                    <label class="form-check-label">Tarea activa</label>
                                </div>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {{!-- #tab2-lastmove --}}
                <div class="tab-pane fade" id="tab2-last" role="tabpanel">
                    <table class="table table-hover table-bordered bg-light text-left">
                        <thead class="table-dark">
                            <tr>
                                <th class="col-3" scope="col">Empleado</th>
                                <th class="col-1" scope="col">Empresa</th>
                                <th class="col-5" scope="col">Tarea</th>
                                <th class="col-2" scope="col">Tiempo</th>
                                <th class="col-1" scope="col">Horas</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each last}}
                            <tr>
                                <th scope="col">{{nombreUsuario}} {{!-- ({{codigoUsuario}}) --}}</th>
                                <td>{{cliente}}</td> 
                                <td>{{descripcionServicio}}</td>
                                <td>{{horaInicio}} - {{horaFin}}</td>
                                <td>{{duracion}}</td>
                                <td style="display:flex;">
                                    <span type="button" data-bs-toggle="modal" data-bs-target="#editModal{{id}}">✏️</span>
                                    <span type="button" data-bs-toggle="modal" data-bs-target="#delMoldal{{id}}">🗑️</span>
                                </td>
                            </tr>
                            <!-- Start Delete record modal -->
                            <div class="modal fade" id="delMoldal{{id}}" tabindex="-1" aria-labelledby="delMoldal{{id}}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header alert-danger">
                                        <h5 class="modal-title" id="delMoldal{{id}}Label">Eliminar registro</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Esta acción no se puede deshacer. <br>
                                        Se va a borrar: {{duracion}} de {{nombreUsuario}} en {{cliente}}, {{descripcionServicio}}.<br>
                                        ¿Eliminar?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        <button type="button" class="btn btn-success" onclick="delRecord({{id}})">Sí</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- End Delete record modal --}}
                            <!-- Start Edit record Modal -->
                            <div class="modal fade" id="editModal{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal{{id}}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModal{{id}}Label">Editar registro {{id}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/admin/updateRecord/{{id}}" method="post">
                                        <div class="modal-body">
                                            <input type="text" hidden value="{{id}}">
                                            <div class="mb-1 row">
                                                <label for="editRecordCliente" class="col-sm-2 col-form-label">Empleado</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" value="{{nombreUsuario}}" disabled readonly>
                                                </div>
                                            </div>
                                            <div class="mb-1 row">
                                                <label class="col-sm-2 col-form-label">Cliente</label>
                                                <div class="col-sm-10">
                                                    <select class="form-select" aria-label="select cliente" name="cliente" id="editRecordCliente_{{id}}" id2="{{id}}" onchange="cargarServicios(event)">
                                                        <option selected value="{{cliente}}">{{cliente}}</option>
                                                        {{#each ../empresas}}
                                                        <option value="{{Empresa}}">{{Empresa}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-1 row">
                                                <label class="col-sm-2 col-form-label">Servicio</label>
                                                <div class="col-sm-10">
                                                    <select class="form-select" aria-label="select servicio" name="descripcionServicio" id="editDescripcionServicio_{{id}}" onfocus="sinServiciosCargados(event, '{{cliente}}')">
                                                        <option selected value="{{codigoServicio}}">{{descripcionServicio}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-1 row">
                                                <label class="col-sm-2 col-form-label">Fecha</label>
                                                <div class="col-sm-10">
                                                <input  class="form-control" type="date" id="start" name="dia" value="{{dia}}">
                                                </div>
                                            </div>
                                            <div class="mb-1 row">
                                                <label class="col-sm-2 col-form-label">Inicio</label>
                                                <div class="col-sm-10">
                                                <input  class="form-control" type="time" id="" name="horaInicio" value="{{horaInicio}}">
                                                </div>
                                            </div>
                                            <div class="mb-1 row">
                                                <label class="col-sm-2 col-form-label">Fin</label>
                                                <div class="col-sm-10">
                                                <input  class="form-control" type="time" id="" name="horaFin" value="{{horaFin}}">
                                                </div>
                                            </div> 
                                            <div class="mb-1 row">
                                                <label class="col-sm-2 col-form-label">Notas</label>
                                                <div class="col-sm-10">
                                                <textarea class="form-control" id="" name="observaciones">{{observaciones}}</textarea>
                                                </div>
                                            </div>                                                                                                                     
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Edit record Modal -->
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <div>
                                    <label class="form-check-label">Últimas tareas finalizadas</label>
                                </div>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/panelrecords.js"></script>